<div class="row mt4">
  <div class="medium-7 columns mt4">
    <div class="tagline">
      Swipe to find your perfect match.
    </div>
    <div class="tagline-group mt2 mr4">
      <div class="tagline">
        <span class="tagline-1">100% dairy-free.</span>
        <span class="tagline-2">100% egg-free.</span>
        <span class="tagline-3">100% meat-free.</span>
        <span class="tagline-4">100% honey-free.</span>
        <span class="tagline-5">100% silk-free.</span>
        <span class="tagline-6">100% commodification-free.</span>
        <span class="tagline-7">10% awesome.</span>
      </div>
    </div>
  </div>
  <div class="medium-5 columns">
    <div class="person-meta mb2">
      <img class="avatar" src="http://static.giantbomb.com/uploads/scale_small/9/93770/2493084-7485228081-mzl.q.png" />
      <div class="name ml1">
        Carlllll the Llama
      </div>
    </div>
    <div class="mb2 message">
      <div class="message-body ml2 mr2">
        I'm Carl.
      </div>
    </div>
    <div class="mb2 message is-reply">
      <div class="message-body ml2 mr2">
        I'm vegan.
      </div>
    </div>
    <div class="mb2 message">
      <div class="message-body ml2 mr2">
        This one time I forgot I was vegan and ate meat. Scary.
      </div>
    </div>
    <div class="mb2 message is-reply">
      <div class="message-body ml2 mr2">
        I'm vegan.
      </div>
    </div>
  </div>
</div>
