<div class="widget profile">
  <div class="widget-header">
    <img src="http://33.media.tumblr.com/72b99653d8e3ac0e6dfed1a9bdad2302/tumblr_nohbix1n0v1uvkr55o1_500.gif" alt="Myk Klemme cover photo" />
  </div>
  <div class="widget-body">
    <img src="" alt="Myk Klemme's Example profile widget" class="profile-avatar"/>
    <div class="profile-meta name">Myk Klemme</div>
    <div class="profile-meta url">http://localhost:3000/profile/1j82jc9</div>
    <div class="profile-meta description">Something here</div>
    <a href="http://localhost:3000/profile/1j82jc9" class="button button-ghost">View Profile</a>
  </div>
</div>
